<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Venda - Sistema Gonçalves</title>

  <link rel="stylesheet" href="/css/venda.css" />

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

  <%- include('partials/navbar') %>

  <main class="container">
    <section class="venda-container">
      <div class="venda-tela">

        <form id="form-venda">
          <h2 class="texto">Venda UltraGaz</h2>

          <!-- Seleção do Produto -->
          <label for="produto">Produto</label>
          <select name="produto" id="produto" required>
            <option value="">Selecione um produto</option>

            <% produtos.forEach(prod => { %>
              <option 
                value="<%= prod.id_produtos %>" 
                data-preco="<%= prod.valor %>">
                <%= prod.nome %> (<%= prod.volume %>)
              </option>
            <% }) %>
          </select>

          <!-- Quantidade -->
          <label for="quantidade">Quantidade</label>
          <input 
            type="number" 
            name="quantidade" 
            id="quantidade" 
            min="1" 
            value="1" 
            required 
          />

          <!-- Forma de Pagamento -->
          <div class="forma-pag">
            <p>Forma de Pagamento:</p>
            <div class="metodo-pag">
              <label><input type="radio" name="pagamento" value="1" /> Crédito</label>
              <label><input type="radio" name="pagamento" value="2" /> Débito</label>
              <label><input type="radio" name="pagamento" value="3" required /> Pix</label>
              <label><input type="radio" name="pagamento" value="4" /> Dinheiro</label>
            </div>
          </div>

          <!-- Preço Unitário -->
          <label for="preco-unitario">Preço Unitário (R$)</label>
          <input 
            type="number" 
            id="preco-unitario" 
            name="preco_unitario" 
            step="0.01" 
            readonly 
          />

          <!-- Preço Total -->
          <label for="preco-total">Preço Total (R$)</label>
          <input 
            type="number" 
            id="preco-total" 
            name="preco_total" 
            step="0.01" 
            readonly 
          />

          <button type="submit">Concluir Venda</button>
        </form>

      </div>
    </section>
  </main>

  <!-- Import do JS -->
  <script src="/js/venda.js"></script>
  
</body>
</html>
